<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Reservation</title>
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
</head>

<body>
    <header>
        <h1>Flight Reservation</h1>
    </header>

    <div class="wrapper">
        <div class="reservation-container" id="flightReservationForm">
            <form action="">
                <div class="input-box">
                    <label> Logged In User </label><br>
                    <input type="text" id="loggedInUser" placeholder="Logged In User" disabled>
                </div>

                <div class="check-box">
                    <label for="bookingForSomeone"> I am booking for someone </label>
                    <input type="checkbox" id="bookingForSomeone" onchange="toggleBookingForSomeone()">
                </div>

                <div class="input-box">
                    <label> Traveller Name </label><br>
                    <input type="text" id="travelerName" placeholder="Traveller Name" disabled>
                </div>

                <div class="input-box">
                    <label> Flight Date </label><br>
                    <input type="date" id="flightDate">
                </div>

                <div class="submitbtn">
                    <button type="Submit" class="submit" onclick="submitReservation()">Submit Reservation</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        function toggleBookingForSomeone() {
            const travelerNameInput = document.getElementById('travelerName');
            travelerNameInput.disabled = !document.getElementById('bookingForSomeone').checked;
        }

        function submitReservation() {
            // Jethro and Jules, put your backend for the logic (handling reservation submission) here :))
            alert('Reservation submitted successfully!');
        }
    </script>
</body>

</html>