<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>user_signup</title>
    <link rel="stylesheet" href="css/style2.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <div class="register-container" id="register">
            <form action="">
                <h1>Sign Up</h1>
                <div class="names">
                    <div class="input-box">
                        <label> First Name </label><br>
                        <input type="text" class="field" placeholder="first name">
                    </div>

                    <div class="input-box">
                        <label> Middle Name </label><br>
                        <input type="text" class="field" placeholder="middle name">
                    </div>

                    <div class="input-box">
                        <label> Last Name </label><br>
                        <input type="text" class="field" placeholder="last name">
                    </div>
                </div>

                <div class="columntwo">
                    <div class="input-box">
                        <label> Email </label><br>
                        <input type="email" class="field" placeholder="Email">
                    </div>

                    <div class="input-box">
                        <label> Birthday </label><br>
                        <input type="date" class="field">
                    </div>
                </div>

                <div class="input-box">
                    <label> Phone No. </label><br>
                    <input type="tel" class="field" placeholder="(XXX)-XXX-XXXX">
                </div>

                <div class="input-box">
                    <label> Password </label><br>
                    <input type="password" class="field" placeholder="Password">
                </div>

                <div class="submitbtn">
                    <input type="Submit" class="submit" value="Register">
                </div>

                <div class="create-account">
                    <span>Already have an account? <a href="./login.html">Log In</a></span>
                </div>


            </form>
        </div>
    </div>
</body>

</html>