* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    background-image: url("bg4bw.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.taskbar {
    background: rgb(173, 38, 38);
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-family: "Rubik", sans-serif; 
}

.taskbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
}

header {
    text-align: center;
    font-size: 36;
    font-weight: 800;
}

.wrapper {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    min-height: 100vh;
    background: rgba(100, 100, 100, 0.35);
}

.wrapconf {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    min-width: 20px;
}

thead tr {
    background-color: rgba(200, 200, 200, 0.25);
    text-align: left;
}

th,
td {
    border-bottom: 2px solid rgba(200, 200, 200, 0.25);
    padding: 12px 15px;
    text-align: left;
}

.input-container{
    display: flex;
    gap: 10px;
}

.wrapper .input-box{
    width: 80%;
    height: 100%;
    font-size: 15px;
    padding: 5px 0 5px 0;
}
.input-box input{
    width: 80%;
    height: 100%;
    color: rgb(112, 112, 112);
    background: rgba(200, 200, 200, 0.25);
    border: none;
    outline: none;
    border-radius: 40px; 
    font-size: 12px;
    padding: 15px 30px 15px 25px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
    background-color: rgb(173, 38, 38);
    color: #fff;
    border: none;
    border-radius: 45px;
}

button:hover {
    background-color: rgba(173, 38, 38, 0.8);
}
